# Compiled RISC-V binaries
**/riscv_demo/advanced
**/riscv_demo/advanced_*
**/riscv_demo/hello
**/riscv_demo/hello_*
**/riscv_demo/complex
**/riscv_demo/complex_*
**/riscv_demo/malware_sim
**/riscv_demo/malware_*
**/riscv_demo/test_*
**/riscv_demo/*.ll
**/riscv_demo/*.s

# Alpine build artifacts
**/alpine/busybox_extract/
**/alpine/kernel_extract/
**/alpine/modules_extract/
**/alpine/initramfs/
**/alpine/initramfs.cpio.gz
**/alpine/alpine-riscv64.img
**/alpine/alpine-minirootfs-*.tar.gz
**/alpine/advanced_riscv
**/alpine/malware_riscv
**/alpine/APKINDEX
**/alpine/APKINDEX*.tar.gz
**/alpine/APKINDEX_comm.tar.gz
**/alpine/DESCRIPTION
**/alpine/debian_packages.gz
**/alpine/*.deb
**/alpine/*.pub

# Large binary/image files
*.img
*.tar.gz
*.deb
*.xz
*.cpio.gz
*.zip
*.webm
*.m4a
*.AppImage
*.pdf

# QEMU binary symlink
qemu-riscv64

# Python cache
__pycache__/
*.pyc
